<h1 class="title">My cocktails</h1>
<div class="cards">
  <% @cocktails.each do |cocktail| %>
    <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://static.cuisineaz.com/400x320/i120324-cocktail-de-champagne.jpeg)">
      <h2 class="title-card"><%= link_to cocktail.name, cocktail_path(cocktail) %></h2>
    </div>
  <% end %>
</div>

<%= link_to 'Create', new_cocktail_path %>

<img class="gif" src="https://media.giphy.com/media/11WytEO5nVGkNO/source.gif" alt="this slowpoke moves"  width=250/>


